
main section p{
    text-align: center;
    padding: 10px 20px;
}
.highlight{
    color: brown;
    font-size: large;
    font-weight: 700;
    padding: 10px 16px 30px 16px;
}
img.fachada{
    width: 100%;
    padding: 10px 0px 50px 0px;
}
