*{
    padding: 0cm;
    margin: 0cm;
    font-family: "Nunito";
}
header{
    background-color: brown;
    color: bisque;
    text-align: center;
    padding: 20px;
}
h1{
    padding: 12px;
    font-family: "Merienda";
    font-weight: 800;
    font-size: 9vw;
}
nav ul{
    list-style: none;
    display: flex;  
    flex-direction: column;
    align-items: center;
}
nav ul li{
    padding: 5px;
    border: 2px solid bisque;
    margin: 5px;
    border-radius: 10px;
    width: 70%;
}
nav ul li a{
    color: bisque;
    text-decoration: none;
    font-size: small;

}
nav ul li:hover, nav ul li a:hover{
    background-color: rgb(55, 50, 43);
    border: 2px solid rgb(55, 50, 43);
}
h2{
    font-weight: bold;
}
.h2-container {
    font-size: larger;
    color: brown;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.h3-container{
    padding: 20px 0px;
}
footer{
    background-color: #a52a2a;
    height: 60px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;

}
.footer-text{
    text-align: center;
    padding: 10px 20px;
}
.footer-icons{
    padding: 20px;
    display: flex;
    justify-content: right;
}
.icon{
    padding: 0 5px;
}

@media screen and (min-width: 347px){
    .footer-text{
        padding: 20px 20px;
    }   

}
@media screen and (min-width: 600px){
    nav ul{
        display: flex;
        flex-direction: row;
       justify-content: center;
       gap: 20px;
    }
}
nav ul li{
    width: 200px;
}
@media screen and (min-width: 768px){
    h1{
        font-size: 70px;
    }
}